html {
    font-family: sans-serif;
    background-color: #bbb;
}

body {
    width: 600px;
    margin: 0px auto 0px auto;
    padding: 10px;
    background-color: #fff;
    height: 100%;
}

h2 {
    border-bottom: 1px solid black;
    display: block;
}

div#warnings {
    color: red;
    font-weight: bold;
}

div#join-section {
}

div#users-section {
    width: 190px;
    float: right;
    margin: 0px;
    padding: 0px;
}

ul#users {
    list-style-type: none;
    padding-left: 0px;
}

div#chat-section {
    width: 390px;
    margin: 0px;
    float: left;
}
