sudo: false
language: c

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack
  - $HOME/pyenv_autobahn

addons:
  apt:
    packages:
    - libgmp-dev
    - python-virtualenv  # For autobahn tests

before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

script:
- stack setup
- stack --no-terminal --skip-ghc-check test
- stack --no-terminal --skip-ghc-check build --copy-bins
- bash tests/autobahn/autobahn.sh
